@media only screen and (max-width: 1160px) {
    .container {
        width: 1140px;
    }
}

@media only screen and (max-width: 480px) {

    .row {
        flex-wrap: wrap;
        gap: 4.5rem;
    }

    .row > .col {
        width: 100%;
        margin: 0 auto;
    }

    .steps {
        margin-bottom: 0;
    }

    .why-us  {
        padding: 3rem 0;
        margin-bottom: 0;
        background-color: black;
    }
}